<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27761515023-lknrjjbkk1kre4khmuabqq1leed5155v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27761515023-lknrjjbkk1kre4khmuabqq1leed5155v</string>
	<key>API_KEY</key>
	<string>AIzaSyDLelonmcGzHut9UEJzgpMKpo8bsvEi3HA</string>
	<key>GCM_SENDER_ID</key>
	<string>27761515023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>setisbeW.C2C</string>
	<key>PROJECT_ID</key>
	<string>cico-4d5b8</string>
	<key>STORAGE_BUCKET</key>
	<string>cico-4d5b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27761515023:ios:b623d89310d55717d6e17a</string>
	<key>DATABASE_URL</key>
	<string>https://cico-4d5b8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>